<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>CV Daniel Althviz Moré</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="CV Daniel Althviz Moré">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">    
    <link rel="shortcut icon" href="favicon.ico">  
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">   
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.css">
    
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="assets/css/styles.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head> 

<body ng-app="cv" ng-controller="ctrl">

    <div class="wrapper">
        <!--Language Change-->


        <!--EN-->
        <div  ng-if="language == 'EN'" class="sidebar-wrapper">
            <div class="profile-container">
            <div class="badge btn-info pull-right" >
                <a href=""  ng-click="changeLanguage('EN')"  ><img src="assets/images/en.png" ng-show="language == 'ES' "  style="border-radius:30%; "></a> <a href="" ng-click="changeLanguage('ES')"><img src="assets/images/es.png" ng-show="language == 'EN' " style="border-radius:30%;"></a>
            </div>
            </div>
            <div  class="profile-container">
                <img class="profile" src="https://avatars3.githubusercontent.com/u/16781833?v=3&s=100"  style="box-shadow: 0px 0px 10px #888;border-radius: 50px;" alt="" />
                <h1 class="name">Daniel <br> Althviz </h1>
                <h3 class="tagline">Student of Industrial Engineering <br><br>Student of Systems and Computing Engineering <br><br> Universidad de los Andes Bogotá, Colombia</h3>
            </div><!--//profile-container-->


            <div class="contact-container container-block">
                <ul class="list-unstyled contact-list">
                    <li class="email"><i class="fa fa-envelope"></i><a href="mailto: d.althviz10@uniandes.edu.co">d.althviz10</a></li>
                    <!--<li class="phone"><i class="fa fa-phone"></i><a href="tel:0123 456 789">0123 456 789</a></li>
                    -->
                    <li class="website"><i class="fa fa-globe"></i><a href="http://dalthviz.github.io" target="_blank">dalthviz.com</a></li>
                    <li class="linkedin"><i class="fa fa-linkedin"></i><a href="https://linkedin.com/in/daniel-althviz-mor%C3%A9-72662a122" target="_blank">linkedin.com</a></li>
                    <li class="github"><i class="fa fa-github"></i><a href="https://github.com/dalthviz" target="_blank">github.com/dalthviz</a></li>
                    <!--<li class="twitter"><i class="fa fa-twitter"></i><a href="https://twitter.com/3rdwave_themes" target="_blank">@twittername</a></li>
                    -->
                </ul>
            </div><!--//contact-container-->
            <div class="education-container container-block">
                <h2 class="container-block-title">Education</h2>
                <div class="item">
                    <h4 class="degree"><a href="https://industrial.uniandes.edu.co/" target="_blank">Bachelor´s Degree in Industrial Engineering</a></h4>
                    <h5 class="meta">Universidad de los Andes</h5>
                    <div class="time">January 2013 - January 2018</div>
                </div><!--//item-->
                <div class="item">
                    <h4 class="degree"><a href="https://sistemas.uniandes.edu.co/en/" target="_blank">Bachelor´s Degree in Systems and Computing Engineering</a></h4>
                    <h5 class="meta">Universidad de los Andes</h5>
                    <div class="time">June 2014 - January 2018</div>
                </div><!--//item-->
            </div><!--//education-container-->
            
            <div class="languages-container container-block">
                <h2 class="container-block-title">Languages</h2>
                <ul class="list-unstyled interests-list">
                    <li>Spanish <span class="lang-desc">(Native)</span></li>
                    <li>English <span class="lang-desc">(Professional)</span></li>
                </ul>
            </div><!--//interests-->
            
            <div class="interests-container container-block">
                <h2 class="container-block-title">Interests</h2>
                <ul class="list-unstyled interests-list">
                    <li>Drawing</li>
                    <li>Football</li>
                    <li>Learning</li>
                </ul>
            </div><!--//interests-->
            
        </div><!--//sidebar-wrapper-->

        <!--ES-->
        <div  ng-if="language == 'ES'" class="sidebar-wrapper">
            <div class="profile-container">
                <div class="badge btn-info pull-left" >
                    <a href=""  ng-click="changeLanguage('EN')"  ><img src="assets/images/en.png" ng-show="language == 'ES' "  style="border-radius:30%; "></a> <a href="" ng-click="changeLanguage('ES')"><img src="assets/images/es.png" ng-show="language == 'EN' " style="border-radius:30%;"></a>
                </div>
            </div>
            <div  class="profile-container">
                <img class="profile" src="https://avatars3.githubusercontent.com/u/16781833?v=3&s=100"  style="box-shadow: 0px 0px 10px #888;border-radius: 50px;" alt="" />
                <h1 class="name">Daniel <br> Althviz </h1>
                <h3 class="tagline">Estudiante de Ingeniería Industrial<br><br>Estudiante de Ingeniería de Sistemas y Computación<br><br> Universidad de los Andes Bogotá, Colombia</h3>
            </div><!--//profile-container-->


            <div class="contact-container container-block">
                <ul class="list-unstyled contact-list">
                    <li class="email"><i class="fa fa-envelope"></i><a href="mailto: d.althviz10@uniandes.edu.co">d.althviz10</a></li>
                    <!--<li class="phone"><i class="fa fa-phone"></i><a href="tel:0123 456 789">0123 456 789</a></li>
                    -->
                    <li class="website"><i class="fa fa-globe"></i><a href="http://dalthviz.github.io" target="_blank">dalthviz.com</a></li>
                    <li class="linkedin"><i class="fa fa-linkedin"></i><a href="https://linkedin.com/in/daniel-althviz-mor%C3%A9-72662a122" target="_blank">linkedin.com</a></li>
                    <li class="github"><i class="fa fa-github"></i><a href="https://github.com/dalthviz" target="_blank">github.com/dalthviz</a></li>
                    <!--<li class="twitter"><i class="fa fa-twitter"></i><a href="https://twitter.com/3rdwave_themes" target="_blank">@twittername</a></li>
                    -->
                </ul>
            </div><!--//contact-container-->
            <div class="education-container container-block">
                <h2 class="container-block-title">Educación</h2>
                <div class="item">
                    <h4 class="degree">Titulo profesional en Ingeniería Industrial</h4>
                    <h5 class="meta">Universidad de los Andes</h5>
                    <div class="time">Enero 2013 - Enero 2018</div>
                </div><!--//item-->
                <div class="item">
                    <h4 class="degree">Titulo profesional en Ingeniería de Sistemas y Computación</h4>
                    <h5 class="meta">Universidad de los Andes</h5>
                    <div class="time">Junio 2014 - Enero 2018</div>
                </div><!--//item-->
            </div><!--//education-container-->

            <div class="languages-container container-block">
                <h2 class="container-block-title">Idiomas</h2>
                <ul class="list-unstyled interests-list">
                    <li>Español <span class="lang-desc">(Nativo)</span></li>
                    <li>Inglés <span class="lang-desc">(Profesional)</span></li>
                </ul>
            </div><!--//interests-->

            <div class="interests-container container-block">
                <h2 class="container-block-title">Intereses</h2>
                <ul class="list-unstyled interests-list">
                    <li>Dibujo</li>
                    <li>Fútbol</li>
                    <li>Aprender</li>
                </ul>
            </div><!--//interests-->

        </div><!--//sidebar-wrapper-->

        <!---Main content-->
        <div class="main-wrapper">

            <div ng-if="language == 'EN'">
            <section class="section summary-section">
                <h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
                <div class="summary">
                    <p>College student of Industrial Engineering and Systems and Computing Engineering at Universidad de los Andes.
                        Interested in analyzing data for decision-making and optimization processes in addition to software development and the use of computational tools for data handling. Also, I like to learn new things whenever I can.
                    </p>
           </div><!--//summary-->
            </section><!--//section-->

            <section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-coffee"></i>Courses</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title"><a href="https://support.sas.com/edu/schedules.html?ctry=us&id=2588#s1=1" target="_blank">Programming Essencials 1</a></h3>
                            <div class="time">May 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">SAS Institute Colombia, Bogotá, Colombia</div>
                    </div><!--//meta-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title"><a href="https://support.sas.com/edu/schedules.html?id=2274&ctry=US" target="_blank">SAS ® Enterprise Guide 1: Querying and Reporting </a></h3>
                            <div class="time">May 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">SAS Institute Colombia, Bogotá, Colombia</div>
                    </div><!--//meta-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title"><a href="https://support.sas.com/edu/schedules.html?id=2807&ctry=US" target="_blank">Applied Analytics Using SAS ® Enterprise Miner</a></h3>
                            <div class="time">May 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">SAS Institute Colombia, Bogotá, Colombia</div>
                    </div><!--//meta-->
                </div><!--//item-->


            </section>


            <section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experience</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Tutor at <a href="http://cupitaller.virtual.uniandes.edu.co/" target="_blank">CupiTaller</a></h3>
                            <div class="time">2014 - 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Universidad de los Andes, Bogotá, Colombia</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Tutor at <a href="http://cupitaller.virtual.uniandes.edu.co/" target="_blank">CupiTaller</a> supporting students in understanding and applying the thematics of the courses
                            Algorithmic and OOP 1 and 2 at Universidad de los Andes.</p>

                    </div><!--//details-->
                </div><!--//item-->


                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research Monitor at <a href="https://github.com/famosa" target="_blank">FaMoSA</a></h3>
                            <div class="time">June 2016 - August 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Universidad de los Andes, Bogotá, Colombia</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Research Monitor at <a href="https://github.com/famosa" target="_blank">FaMoSA</a> developing a web application
                            for the management of users, projects and artifacts with Firebase, AngularFire and AngularJS.</p>

                    </div><!--//details-->
                </div><!--//item-->


                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Project Assistant at <a href="http://cupitaller.virtual.uniandes.edu.co/" target="_blank">Cupitaller</a></h3>
                            <div class="time">August 2016 - January 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Universidad de los Andes, Bogotá, Colombia</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Project assistant at <a href="http://cupitaller.virtual.uniandes.edu.co/" target="_blank">Cupitaller</a> supporting the operation of CupiTaller and generating reports for the academic observatory
                            taking into account the performance of the students on the courses Algorithmic and OOP 1 and 2 at Universidad de los Andes.</p>

                    </div><!--//details-->
                </div><!--//item-->


                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Junior Developer at <a href="https://github.com/spyder-ide" target="_blank">Spyder IDE</a></h3>
                            <div class="time">October 2016 - present</div>
                        </div><!--//upper-row-->
                        <div class="company">Continuum Analytics</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Junior Developer at <a href="https://github.com/spyder-ide">Spyder IDE</a> working with a group of developers
                            in the maintenance and improvement of the project.</p>

                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Teaching Assistant at <a href="https://csw-uniandes.gitbooks.io/isis2603-desarrollo-de-software-en-equipos/3" target="_blank">Software Development in Teams</a></h3>
                            <div class="time">January 2017 - present</div>
                        </div><!--//upper-row-->
                        <div class="company">Universidad de los Andes, Bogotá, Colombia</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Teaching Assistant at the course Software Development in Teams, supporting the execution of the course, creation of contents and grading of projects and activities carried out by the students. <a href="https://github.com/Uniandes-isis2603" target="_blank">Here the organization on github.</a></p>

                    </div><!--//details-->
                </div><!--//item-->


                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Teaching Assistant at <a href="https://imagine.uniandes.edu.co/~isis2503/dokuwiki/doku.php" target="_blank">Software Architecture and Design</a></h3>
                            <div class="time">January 2017 - present</div>
                        </div><!--//upper-row-->
                        <div class="company">Universidad de los Andes, Bogotá, Colombia</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Teaching Assistant at the course Software Architecture and Design, supporting the execution of the course, creation of contents and grading of projects and activities carried out by the students.</p>

                    </div><!--//details-->
                </div><!--//item-->


            </section><!--//section-->
            
            <section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>Here a list of projects where I have been working.</p>
                </div><!--//intro-->

                <div class="item">
                    <span class="project-title"><a href="https://github.com/dalthviz/perapple" target="_blank">Perapple application</a></span> -
                    <span class="project-tagline">A web application for the creation of travel itineraries with Java EE, RESTFul services and AngularJS,
                    in the course of <a href="https://sistemasacademico.uniandes.edu.co/~isis2603/dokuwiki/doku.php?id=principal" target="_blank">Software Development in Teams</a> at Universidad de los Andes.
                        <a href="https://github.com/dalthviz/perapple" target="_blank"> Here the repository of the application</a></span>

                </div><!--//item-->


                <div class="item">
                    <span class="project-title"><a href="https://dalthviz.github.io/showcase" target="_blank">FaMoSA application</a></span> -
                    <span class="project-tagline">A web application for the management of users, projects and artifacts (feature models) with Firebase, AngularFire,
                    AngularJS, and a series of solvers of the <a href="http://ticsw.uniandes.edu.co" target="_blank">TICSw group</a> at Universidad de los Andes.
                        <a href="https://dalthviz.github.io/showcase" target="_blank"> Here the application.</a> <a href="https://dalthviz.github.io/gitbook-showcase" target="_blank"> Here the gitbook of the application.</a></span>

                </div><!--//item-->


                <div class="item">
                    <span class="project-title"><a href="https://github.com/spyder-ide" target="_blank">Spyder IDE</a></span> -
                    <span class="project-tagline">The Scientific PYthon Development EnviRonment. An IDE focused in the development of scientific applications with Python.</span>

                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a href="http://smartplannerfe.herokuapp.com/" target="_blank">SmartPlanner</a></span> -
                    <span class="project-tagline">Web app homework organizer using a scheduler algorithm based on task’s estimated time, due date, and completion status. (User: Daniel) <a href="https://github.com/dalthviz/SmartPlannerFE" target="_blank"> Here the repository</a></span>

                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a href="http://connect-04.herokuapp.com/" target="_blank">Connect-4</a></span> -
                    <span class="project-tagline">Connect-4 is a very simple board game. On a 6x7 grid players must insert chips alternately. The main goal is to get the largest number of 4 chips in a row, either horizontally, vertically or diagonally. <a href="https://github.com/jdfandino10/connect-4" target="_blank"> Here the repository</a></span>

                </div><!--//item-->


            </section><!--//section-->
            </div>

            <div ng-if="language == 'ES'">
                <section class="section summary-section">
                    <h2 class="section-title"><i class="fa fa-user"></i>Perfil profesional</h2>
                    <div class="summary">
                        <p>Estudiante universitario de Ingeniería Industrial e Ingeniería de Sistemas y Computación en la Universidad de los Andes.
                            Interesado en el análisis de datos para procesos de toma de desiciones y optimización, en adición al desarrollo de software y uso de herramientas computacionales para el manejo de datos. Además, me gusta aprender cada vez que tengo oportunidad.
                        </p>
                    </div><!--//summary-->
                </section><!--//section-->

                <section class="section experiences-section">
                    <h2 class="section-title"><i class="fa fa-coffee"></i>Cursos</h2>

                    <div class="item">
                        <div class="meta">
                            <div class="upper-row">
                                <h3 class="job-title"><a href="https://support.sas.com/edu/schedules.html?ctry=us&id=2588#s1=1">Programming Essencials 1</a></h3>
                                <div class="time">Mayo 2016</div>
                            </div><!--//upper-row-->
                            <div class="company">SAS Institute Colombia, Bogotá, Colombia</div>
                        </div><!--//meta-->
                    </div><!--//item-->

                    <div class="item">
                        <div class="meta">
                            <div class="upper-row">
                                <h3 class="job-title"><a href="https://support.sas.com/edu/schedules.html?id=2274&ctry=US">SAS ® Enterprise Guide 1: Querying and Reporting </a></h3>
                                <div class="time">Mayo 2016</div>
                            </div><!--//upper-row-->
                            <div class="company">SAS Institute Colombia, Bogotá, Colombia</div>
                        </div><!--//meta-->
                    </div><!--//item-->

                    <div class="item">
                        <div class="meta">
                            <div class="upper-row">
                                <h3 class="job-title"><a href="https://support.sas.com/edu/schedules.html?id=2807&ctry=US">Applied Analytics Using SAS ® Enterprise Miner</a></h3>
                                <div class="time">Mayo 2016</div>
                            </div><!--//upper-row-->
                            <div class="company">SAS Institute Colombia, Bogotá, Colombia</div>
                        </div><!--//meta-->
                    </div><!--//item-->


                </section>


                <section class="section experiences-section">
                    <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiencia</h2>

                    <div class="item">
                        <div class="meta">
                            <div class="upper-row">
                                <h3 class="job-title">Tutor en <a href="http://cupitaller.virtual.uniandes.edu.co/">CupiTaller</a></h3>
                                <div class="time">2014 - 2016</div>
                            </div><!--//upper-row-->
                            <div class="company">Universidad de los Andes, Bogotá, Colombia</div>
                        </div><!--//meta-->
                        <div class="details">
                            <p>Tutor en <a href="http://cupitaller.virtual.uniandes.edu.co/">CupiTaller</a> apoyando en la comprensión y aplicación de las temáticas de los cursos Algorítmica y Programación
                                Orientada a Objetos 1 y 2 en la Universidad de los Andes.</p>

                        </div><!--//details-->
                    </div><!--//item-->


                    <div class="item">
                        <div class="meta">
                            <div class="upper-row">
                                <h3 class="job-title">Monitoría en Investigación en el proyecto <a href="https://github.com/famosa">FaMoSA</a></h3>
                                <div class="time">Junio 2016 - Agosto 2016</div>
                            </div><!--//upper-row-->
                            <div class="company">Universidad de los Andes, Bogotá, Colombia</div>
                        </div><!--//meta-->
                        <div class="details">
                            <p>Monitoria en Investigación en el proyecto <a href="https://github.com/famosa">FaMoSA</a> desarrollando una aplicación web
                                para el manejo de usuario, proyectos y artefactos (modelos de características) con Firebase, AngularFire y AngularJS.</p>

                        </div><!--//details-->
                    </div><!--//item-->


                    <div class="item">
                        <div class="meta">
                            <div class="upper-row">
                                <h3 class="job-title">Asistente de Proyecto en <a href="http://cupitaller.virtual.uniandes.edu.co/">Cupitaller</a></h3>
                                <div class="time">Agosto 2016 - Enero 2017</div>
                            </div><!--//upper-row-->
                            <div class="company">Universidad de los Andes, Bogotá, Colombia</div>
                        </div><!--//meta-->
                        <div class="details">
                            <p>Asistente  de proyecto en <a href="http://cupitaller.virtual.uniandes.edu.co/">Cupitaller</a> apoyando la operación del mismo y generando reportes para el observatorio académico
                                teniendo en cuenta el desempeño de los estudiantes en los cursos de Algorítmica y Programación Orientada a Objetos 1 y 2 en la Universidad de los Andes.</p>

                        </div><!--//details-->
                    </div><!--//item-->

                    <div class="item">
                        <div class="meta">
                            <div class="upper-row">
                                <h3 class="job-title">Desarrollador Junior en el proyecto <a href="https://github.com/spyder-ide">Spyder IDE</a></h3>
                                <div class="time">Octubre 2016 - presente</div>
                            </div><!--//upper-row-->
                            <div class="company">Continuum Analytics</div>
                        </div><!--//meta-->
                        <div class="details">
                            <p>Desarrollador Junior en el proyecto <a href="https://github.com/spyder-ide">Spyder IDE</a> trabajando con un grupo de desarrolladores
                                en el mantenimiento y mejora del proyecto.</p>

                        </div><!--//details-->
                    </div><!--//item-->

                    <div class="item">
                        <div class="meta">
                            <div class="upper-row">
                                <h3 class="job-title">Monitor del curso <a href="https://csw-uniandes.gitbooks.io/isis2603-desarrollo-de-software-en-equipos/3">Desarrollo de Software en Equipo</a></h3>
                                <div class="time">Enero 2017 - presente</div>
                            </div><!--//upper-row-->
                            <div class="company">Universidad de los Andes, Bogotá, Colombia</div>
                        </div><!--//meta-->
                        <div class="details">
                            <p>Monitor del curso Desarrollo de Software en Equipo apoyando el desarrollo del curso, creación de contenidos y calificación de proyectos y actividades desarrolladas por los estudiantes. <a href="https://github.com/Uniandes-isis2603">Aquí la organización en github.</a></p>

                        </div><!--//details-->
                    </div><!--//item-->


                    <div class="item">
                        <div class="meta">
                            <div class="upper-row">
                                <h3 class="job-title">Monitor del curso <a href="https://imagine.uniandes.edu.co/~isis2503/dokuwiki/doku.php">Arqutectura y Diseño de software</a></h3>
                                <div class="time">Enero 2017 - presente</div>
                            </div><!--//upper-row-->
                            <div class="company">Universidad de los Andes, Bogotá, Colombia</div>
                        </div><!--//meta-->
                        <div class="details">
                            <p>Monitor del curso Arquitecturas y Diseño de Software apoyando el desarrollo del curso, creación de contenidos y calificación de proyectos desarrollados por los estudiantes.</p>

                        </div><!--//details-->
                    </div><!--//item-->

                </section><!--//section-->

                <section class="section projects-section">
                    <h2 class="section-title"><i class="fa fa-archive"></i>Proyectos</h2>
                    <div class="intro">
                        <p>Aquí una lista de los proyectos en los que he trabajado</p>
                    </div><!--//intro-->

                    <div class="item">
                        <span class="project-title"><a href="https://github.com/dalthviz/perapple">Aplicación Perapple</a></span> -
                    <span class="project-tagline">Una aplicación web para la creación de itinerarios de viaje con Java EE, servicios RESTFul y AngularJS,
                    en el curso de <a href="https://sistemasacademico.uniandes.edu.co/~isis2603/dokuwiki/doku.php?id=principal">desarrollo de Software en Equipo</a> en la Universidad de los Andes.
                        <a href="https://github.com/dalthviz/perapple"> Aquí el repositorio de la aplicación</a></span>

                    </div><!--//item-->


                    <div class="item">
                        <span class="project-title"><a href="https://dalthviz.github.io/showcase">Aplicación FaMoSA</a></span> -
                    <span class="project-tagline">Una aplicación web para el manejo de usuarios, proyecto y artefactos (modelos de características) con Firebase, AngularFire,
                    AngularJS, y una serie de solvers del <a href="http://ticsw.uniandes.edu.co">grupo TICSw</a> en la Universidad de los Andes.
                        <a href="https://dalthviz.github.io/showcase"> Aquí la aplicación.</a> <a href="https://dalthviz.github.io/gitbook-showcase"> Aquí el gitbook de la aplicación.</a></span>

                    </div><!--//item-->

                    <div class="item">
                        <span class="project-title"><a href="https://github.com/spyder-ide">Spyder IDE</a></span> -
                        <span class="project-tagline">Un ambiente de desarrollo enfocado en la creación de aplicaciones cientificas con Python.</span>

                    </div><!--//item-->


                </section><!--//section-->
            </div>


            <section class="skills-section section">
                <h2 ng-if="language == 'EN'" class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>
                <h2 ng-if="language == 'ES'" class="section-title"><i class="fa fa-rocket"></i>Habilidades &amp; Competencia</h2>

                <div class="skillset">
                    <div class="item">
                        <h3 class="level-title">Java &amp; JavaEE</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="80%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">Play! Framework</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="60%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->


                    <div class="item">
                        <h3 class="level-title">Javascript</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="65%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">AngularJS</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="60%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">ReactJS</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="50%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">HTML5 &amp; CSS</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="70%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">SAS Base</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="50%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">Visual Basic</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="30%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">Python</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="60%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">Git</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="70%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">SQL</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="70%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->


                    <div class="item">
                        <h3 class="level-title">Sketch</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="50%">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                </div>
            </section><!--//skills-section-->

        </div><!--//main-body-->

    </div>


    <footer class="footer" ng-if="language == 'EN'">
        <div class="text-center">
                <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can check out other license options via our website: themes.3rdwavemedia.com */-->
                <small class="copyright">Designed with <i class="fa fa-heart"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>
        </div><!--//container-->
    </footer><!--//footer-->


    <footer class="footer" ng-if="language == 'ES'">
        <div class="text-center">
            <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can check out other license options via our website: themes.3rdwavemedia.com */-->
            <small class="copyright">Diseñado con <i class="fa fa-heart"></i> por <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> para desarrolladores</small>
        </div><!--//container-->
    </footer><!--//footer-->

    <!-- Javascript -->          
    <script type="text/javascript" src="assets/plugins/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="assets/js/min/angular.min.js"></script>
    <script type=""></script>
    <script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- custom js -->
    <script type="text/javascript" src="assets/js/main.js"></script>
    <script type="text/javascript" src="assets/js/app.js"></script>

</body>
</html> 

